<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    
    
</head>
<body>
<div th:hidden="${user}"></div>
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <div class="page-header">
            <h1>게시글 등록</h1>
        </div>
        <br/>
        <input id="board_idx" type="hidden" th:value="${board?.id}"/>
        <input id="board_wdate" type="hidden" th:value="${board?.wdate}"/>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px">게시판 선택</th>
                <td>
                    <div class="pull-left">
                        <select class="form-control input-sm" id="board_type">
                            <option>--분류--</option>
                            <option th:value="notice" th:selected="${board?.boardType?.name() == 'notice'}">공지사항</option>
                            <option th:value="free" th:selected="${board?.boardType?.name() == 'free'}">자유게시판</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">생성날짜</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="${board?.wdate}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td><input id="board_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.title}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">부제목</th>
                <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>
            </tr>
            
            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td>
                		             
                <textarea id="board_content" class="col-md-1 form-control input-sm" maxlength="200" rows="7" style="height: 200px;"
                th:text="${board?.content}"></textarea><span class="help-block" ></span>                           
                <div id="test_cnt">(0/200)</div>
                </td>
                 
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="pull-left">
            <a href="/board/list" class="btn btn-default">목록으로</a>
        </div>
        <div class="pull-right">
            <button th:if="!${board?.username?.username}" type="button" class="btn btn-primary" id="insert">저장</button>
            <button th:if="${username?.username}" type="button" class="btn btn-info" id="update">수정</button>
            <button th:if="${username?.username}" type="button" class="btn btn-danger" id="delete">삭제</button>
        </div>
    </div>

    <div th:replace="layout/footer::footer"></div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	
	
	<!-- 글자 수 표시하는 부분 -->
	<script>
    $(document).ready(function() {
        $('#board_content').on('keyup', function() {
            $('#test_cnt').html("("+$(this).val().length+" / 200)");
 
            if($(this).val().length > 200) {
                $(this).val($(this).val().substring(0, 200));
                $('#test_cnt').html("(200 / 200)");
            }
        });
    });
    </script>

	
    <script th:if="!${board?.id}">
        $('#insert').click(function () {
            var jsonData = JSON.stringify({
            	/*JSON.stringify()는 자바스크립트 오브젝트{}를 
				제이슨형태로 변환해주는 메소드이다.*/
                title: $('#board_title').val(),
                subTitle: $('#board_sub_title').val(),
                content: $('#board_content').val(),
                boardType: $('#board_type option:selected').val()
            });
           // alert(jsonData);//확인하려고 알림창 찍은거
            $.ajax({
                       url: "http://localhost:8883/board/insert",
                       type: "POST",
                       data: jsonData,//컨트롤러에 보내는 요청타입도 제이슨
                       contentType: "application/json",
                       headers: {
                           "Authorization": "Basic " + btoa("havi" + ":" + "test")
                       },//여기까지 값을 날려서 컨트롤러에서 응답을 보내줌
                       dataType: "json",//컨트롤러의 응답형태 제이슨
                           success: function () {
                              // alert('저장 성공!');
                              // alert(jsonData);
                               location.href = '/board/list';
                               //아직 리스트없으므로 에러, 이제 만들어주기
                       },
                       error: function () {
                           alert('저장 실패!');
                       }
                   });
        });
    </script>
    <script th:if="${board?.username?.username}">
        $('#update').click(function () {
            var jsonData = JSON.stringify({
                title: $('#board_title').val(),
                subTitle: $('#board_sub_title').val(),
                content: $('#board_content').val(),
                boardType: $('#board_type option:selected').val(),
                createdDate: $('#board_wdate').val()
            });
            $.ajax({
                       url: "http://localhost:8883/board/update/" + $('#board_idx').val(),
                       type: "PUT",
                       data: jsonData,
                       contentType: "application/json",
                       dataType: "json",
                       success: function () {
                           //alert('수정 성공!');
                           location.href = '/board/list';
                       },
                       error: function () {
                           alert('수정 실패!');
                       }
                   });
        });
        $('#delete').click(function () {
            $.ajax({
                       url: "http://localhost:8883/board/delete/" + $('#board_idx').val(),
                       type: "DELETE",
                       success: function () {
                           //alert('삭제 성공!');
                           location.href = '/board/list';
                       },
                       error: function () {
                           alert('삭제 실패!');
                       }
                   });
        });
    </script>
    
</body>
</html>